***ITEM 2: Piloto con mayor cantidad de primeros puestos***

In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
# levantamos los json pertinentes:
df_results = pd.read_json(r'C:\Users\aalbe\OneDrive\Escritorio\PI01_DATA02\Datasets/results.json')
df_drivers = pd.read_json(r'C:\Users\aalbe\OneDrive\Escritorio\PI01_DATA02\Datasets/drivers.json')
df_constructors = pd.read_json(r'C:\Users\aalbe\OneDrive\Escritorio\PI01_DATA02\Datasets/constructors.json')

In [3]:
# filtramos el df de results con una máscara para obtener un df sólo con los primeros puestos
primeros = df_results['position'] == 1

In [4]:
df_results[primeros]

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.3,1
22,23,19,8,6,1,2,1,1,1,10.0,56,1:31:18.555,5478555,37,2,1:35.405,209.158,1
44,45,20,13,6,2,2,1,1,1,10.0,57,1:31:06.970,5466970,38,3,1:33.600,208.153,1
66,67,21,8,6,1,1,1,1,1,10.0,66,1:38:19.051,5899051,46,1,1:21.670,205.191,1
88,89,22,13,6,2,1,1,1,1,10.0,58,1:26:49.451,5209451,16,3,1:26.666,221.734,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24860,24866,1043,1,131,44,2,1,1,1,26.0,63,1:28:32.430,5312430,63,1,1:15.484,234.121,1
24880,24886,1044,1,131,44,6,1,1,1,25.0,58,1:42:19.313,6139313,56,6,1:39.413,193.302,1
24900,24906,1045,1,131,44,1,1,1,1,25.0,57,2:59:47.515,10787515,38,3,1:32.864,209.803,1
24920,24926,1046,815,211,11,5,1,1,1,25.0,87,1:31:15.114,5475114,69,3,0:56.789,224.599,1
24940,24946,1047,830,9,33,1,1,1,1,25.0,55,1:36:28.645,5788645,14,2,1:40.958,198.046,1

In [5]:
# el piloto con más primeros puestos, es Lewis Hamilton (item 2)
df_results[primeros]['driverId'].value_counts()

1      95
30     91
20     53
117    51
102    41
       ..
394     1
404     1
509     1
449     1
815     1
Name: driverId, Length: 110, dtype: int64

In [6]:
primeros_puestos = df_results[primeros]['driverId'].value_counts()

In [7]:
primeros_puestos

1      95
30     91
20     53
117    51
102    41
       ..
394     1
404     1
509     1
449     1
815     1
Name: driverId, Length: 110, dtype: int64

In [8]:
df_primeros_puestos = pd.DataFrame(primeros_puestos)
df_primeros_puestos.reset_index(inplace=True)
df_primeros_puestos.rename({'driverId': 'repeticiones'}, axis=1, inplace=True)
df_primeros_puestos.rename({'index': 'driverId'}, axis=1, inplace=True)

In [9]:
df_primeros_puestos

     driverId  repeticiones
0           1            95
1          30            91
2          20            53
3         117            51
4         102            41
..        ...           ...
105       394             1
106       404             1
107       509             1
108       449             1
109       815             1

[110 rows x 2 columns]

In [10]:
df_drivers

,driverId,driverRef,number,code,name,dob,nationality,url
0,1,hamilton,44,HAM,Lewis Hamilton,7/1/1985,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick Heidfeld,10/5/1977,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico Rosberg,27/6/1985,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando Alonso,29/7/1981,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki Kovalainen,19/10/1981,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen
...,...,...,...,...,...,...,...,...
848,850,pietro_fittipaldi,51,FIT,Pietro Fittipaldi,25/6/1996,Brazilian,http://en.wikipedia.org/wiki/Pietro_Fittipaldi
849,851,aitken,89,AIT,Jack Aitken,23/9/1995,British,http://en.wikipedia.org/wiki/Jack_Aitken
850,852,tsunoda,\N,TSU,Yuki Tsunoda,11/5/2000,Japanese,http://en.wikipedia.org/wiki/Yuki_Tsunoda
851,853,mazepin,\N,MAZ,Nikita Mazepin,2/3/1999,Russian,http://en.wikipedia.org/wiki/Nikita_Mazepin
852,854,mick_schumacher,\N,SCH,Mick Schumacher,22/3/1999,German,http://en.wikipedia.org/wiki/Mick_Schumacher

In [11]:
drivers_y_primeros_puestos = pd.merge(df_primeros_puestos, df_drivers, on = 'driverId')

In [57]:
max_repeticiones = drivers_y_primeros_puestos['repeticiones'] == drivers_y_primeros_puestos['repeticiones'].max()

In [58]:
drivers_y_primeros_puestos[max_repeticiones]['name'].to_string(index = False)

'Lewis Hamilton'